/* PropertyList.css */
.property-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}

.property-item {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.property-image-wrapper {
  height: 200px; /* Set a fixed height for the wrapper */
  width: 100%; /* Ensure the wrapper spans the full width of the item */
  display: flex; /* Use flexbox to center the image */
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
  overflow: hidden; /* Prevents the image from overflowing */
}

.property-image {
  width: 100%;
  height: auto; /* Maintain the aspect ratio of the image */
  object-fit: cover; /* Cover the area of the wrapper without stretching */
}

.property-details {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.property-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.property-text {
  flex-grow: 1;
  color: #666;
}

.details-button {
  align-self: center;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.details-button:hover {
  background-color: #003d82;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .property-list {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}